* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #821869, #22d3ee);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-container {
  background: #ffffff;
  width: 100%;
  max-width: 480px;
  padding: 32px;
  border-radius: 24px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
}

h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #111;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}

p {
  text-align: center;
  font-size: 15px;
  color: #555;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input,
textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #000207;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap:8px
  
  
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #7f5af0;
  box-shadow: 0 0 0 3px rgba(127, 90, 240, 0.25);
}

textarea {
  resize: none;
  min-height: 120px;
}

button {
  margin-top: 8px;
  padding: 14px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, #27048f, #22d3ee);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: black;

  
  
}
input[type="checkbox"] {
  width: 16px;
  height: 16px;

}
